NODE_ENV=production
HOST=127.0.0.1
PORT=4000

GATEWAY_API_BASE_URL=http://127.0.0.1:8080
BRIDGE_LEDGER_MODE=fabric

JWT_SECRET=replace-with-strong-shared-jwt-secret
CORS_ORIGIN=http://34.16.85.25

CHANNEL_NAME=education-channel
CHAINCODE_NAME=certificate-chaincode
MSP_ID=MogadishuUniversityMSP
CERT_PATH=/etc/ndts/fabric/mogadishu/admin-cert.pem
KEY_PATH=/etc/ndts/fabric/mogadishu/admin-key.pem
TLS_CERT_PATH=/etc/ndts/fabric/mogadishu/peer-tls-ca.pem
PEER_ENDPOINT=127.0.0.1:7051
PEER_HOST_ALIAS=peer0.mogadishu.university.so

OPERATIONS_DB_PATH=/var/lib/ndts/bridge/operations.db
SEED_DEV_DATA=false
REPORT_DEFAULT_DAYS=30
